{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" rel="stylesheet"/>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
            type="text/css"
    />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <!-- Datepicker -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <!-- Chartist -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dayapp/main.css' %}">

    <title>Sun calculator</title>
</head>

<body>
<header>
    <h1>Sun calculator</h1>
</header>


<div class="container">
    <div id="mapcont" class="col-sm-6">
        <div>Map's center point is in use by default for the calculations.</div>
        <div class="map">
            <div id="map"></div>
        </div>
    </div>

    <div id="datecont" class="col-sm-6">
        <div class="container">
            <div id="inputfields" class="col-sm-6">
                <div>
                    <form>
                        <div>
                            <div>
                                <label for="lat">Latitude</label>
                                <br>
                                <input name="lat" id="inserted_lat" size="30" type="text"/>
                                <br>
                                <label for="long">Longitude</label>
                                <br>
                                <input name="long" id="inserted_long" size="30" type="text"/>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <div class="date">
                    <label for="date1">Date for single day calculations</label><br>
                    <input name="date1" id="datepicker" readonly/>
                </div>
                <div class="date">
                    <label for="date2">Start date for interval</label><br>
                    <input name="date2" id="datepickerstart" readonly/>
                </div>
                <div class="date">
                    <label for="date3">End date for interval</label><br>
                    <input name="date3" id="datepickerend" readonly/>
                </div>
                <br>
                <button id="calcrun" type="button">Run calculations!</button>
            </div>
            <div id="outputfields" class="col-sm-6">
                <div style="font-size: 30px">Calculation results</div>
                <br><br>
                <div id="sunrise">Sunrise time (UTC+3):</div>
                <br>
                <div id="sunset">Sunset time (UTC+3):</div>
                <br>
                <div id="daylength">Day length:</div>
            </div>
        </div>
    </div>


</div>
<div id="chart" style="display: none"></div>

<!-- Mapbox script-->
<script type="module" src="{% static "dayapp/js/mapbox.js" %}"></script>

<!-- Script-->
<script type="module" src="{% static "dayapp/js/script.js" %}"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>