#map {
    height: 600px;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

header h1 {
    color: red;
    width: 100%;
    text-align: center;
}

#datepicker {
    width: 100%;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}

#mapcont {
    width: 50%;

}

#datecont {
    width: 30%;
}

.ct-label {
    font-size: 17px;
    font-style: oblique;
}


