#map {
    height: 600px;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}


header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

body{
    background-color: lightcyan;
}

.date {
    width: 100%;
}

.float-container {
    padding: 20px;
    height:700px;
    min-width: 600px;
}

.float-child {
    min-width: 280px;
    width: 50%;
    height: 100%;
    float: left;
    /*border-style: solid;
    border-color: red;*/
}

#outputfields{
    margin-top: 150px;
    font-size: 20px;
}

#inputfields{
    margin-top: 90px;
    padding-left: 50px;
}

#inputfields input{
    width: 210px;
}

.ct-label {
    font-size: 17px;
    font-style: oblique;
}

#calcrun{
    margin-top: 50px;
}




