#map {
    height: 500px;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}


body {
    background-color: lightcyan;
    margin: 0;
}

header {
    padding: 10px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
}


.date {
    width: 100%;
}

.col-sm-6 {
    /*border-style: solid;
    border-color: blue;*/
}

.container {
    width: 100%;
    /*border-style: solid;
    border-color: red;*/
}

#outputfields *{
    width: 100%;
}

#outputfields{
    padding-top: 130px;
}
#inputfields{
    padding-top: 110px;
}

#inputfields input {
    width: 70%;
}


#calcrun {
    margin-top: 50px;
}

.fixed-bottom{
    bottom:0;
}

#mapcont{
    padding-top: 40px;
}

#lang{
    width: 50px;
    height: 25px;
}
#langcol{
    width: 5%;
}
#headercol{
    padding-left: 5%;
    width: 95%;
}

.ct-label {
    font-size: 17px;
    font-style: oblique;
}

#chartH{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}